<div id="hero-tracking-widget" hx-get="components\widget-container.html" hx-trigger="load" hx-target="this"
     hx-swap="wrapper">
    <div class="flex items-center mb-4 text-lumo-navy font-semibold border-b border-lumo-gray-100 pb-2">
        <div class="flex items-center min-w-[32px] justify-center">
            <i class="fa-solid fa-truck-fast text-lg text-lumo-navy"></i>
        </div>
        <span class="ml-3 whitespace-nowrap">Seguimiento de pedidos</span>
    </div>

    <div class="relative">
        <input id="hero-tracking-input"
               class="w-full pl-4 pr-12 py-3 bg-lumo-gray-100 border-none rounded-full text-sm focus:ring-2 focus:ring-lumo-navy transition-all text-lumo-navy placeholder-gray-400"
               placeholder="ID de seguimiento" type="text" />
        <button id="hero-tracking-submit"
                class="absolute inset-y-0 right-2 flex items-center justify-center w-8 h-8 my-auto bg-lumo-navy text-white rounded-full hover:bg-lumo-blue transition-colors">
            <i class="fa-solid fa-arrow-right text-xs"></i>
        </button>
    </div>
</div>