<div element-is="product-card"
     class="group bg-white rounded-2xl p-4 shadow-soft border border-lumo-gray-100 hover:shadow-xl transition-shadow cursor-pointer lg:min-w-[280px] lg:min-h-[396px] flex flex-col">
    <div class="relative mb-4 rounded-xl overflow-hidden aspect-square">
        <img alt="Lumo Peak Watch"
             class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
             src="https://lh3.googleusercontent.com/aida-public/AB6AXuCdXYOsWVIiR_AhheT0lcwIikMDN5aVFIX5nFLJrD0QykgSvYx0jxAgZWtcxKWk_iFrWLhY-p0ELBu92QXdo9Hbm3Ug4jBAEDSK2WsA92KZF6hP5F1GNFZ9azeKsMlpWkw0LvP239fslzG0i3rQsL_2LGp_3e4lom_l1WTPubKUZXrXIHVuK7jHUAjFVzO7ABlNfM6yScYT3dutgdCuKOMX645Xk_bVFmLtr6dVPM1P3yP9IQp70uV7NUW2Aa2kU5kndUnOMaibLoc"
             data-first-enter-image="true">
        <div class="absolute top-3 left-3 flex gap-2">
            <span
                  class="empty-hidden bg-lumo-navy text-white text-[10px] font-bold px-3 py-1 rounded-full uppercase tracking-wider">
                25 PV
            </span>
            <span
                  class="empty-hidden bg-lumo-navy text-white text-[10px] font-bold px-3 py-1 rounded-full uppercase tracking-wider">Best
                Seller</span>
        </div>
    </div>
    <div class="space-y-1 mb-4">
        <h4 class="font-bold text-lumo-navy">Lumo Peak Watch</h4>
        <p class="text-xs text-lumo-gray-500 truncate">High-performance tracking meets professional
            elegance.</p>
    </div>
    <div class="flex items-center justify-between mt-auto">
        <span class="text-lg font-bold text-lumo-navy">$199.00</span>
        <button element-is="add-to-cart-btn"
                class="w-10 h-10 rounded-full bg-lumo-navy text-white flex items-center justify-center hover:bg-lumo-blue transition-colors">
            <i class="fa-solid fa-cart-shopping text-sm"></i>
        </button>
    </div>
</div>